@font-face {
  font-family: 'NanumGothic';
  font-weight: normal;
  src: url('/fonts/NanumGothic.woff');
}

@font-face {
  font-family: 'NanumGothicBold';
  font-weight: normal;
  src: url('/fonts/NanumGothicBold.woff');
}

@font-face {
  font-family: 'NanumGothicExtraBold';
  font-weight: normal;
  src: url('/fonts/NanumGothicExtraBold.woff');
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'NanumGothic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

div,
input {
  box-sizing: border-box;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
